<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>文章管理</title>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/iconfont.css">
  <link rel="stylesheet" href="../static/css/contentHeader.css">
  <link rel="stylesheet" href="../static/css/article1.css">
</head>

<body>
  <div class="container-fluid">
    <!-- 头部通用 -->
    <div class="row header">
      <div class="col-md-1 page-name PR-no">文章管理</div>
      <div class="col-md-1 page-show PRL-no"><a href="./article2.html">写文章</a></div>
      <div class="col-md-3 page-catalogue">
        <ul class="page-list">
          <li><a href="#"><span class="iconfont icon-arr-right"></span>文章管理</a></li>
          <li><a href="#"><span class="iconfont icon-arr-right"></span>所有文章</a></li>
        </ul>
        <div class="page-icon">
          <a href="./index.html" class="page-icon-a"><span class="iconfont icon-yibiao icon-span"></span>首页</a>
        </div>
      </div>
    </div>
    <!-- 内容头部 -->
    <div class="row content-header">
      <div class="col-md-3">
        <div class="title">
          <p class="status show">已发布<span>(1)</span></p>
          <p>|</p>
          <p class="status">草稿<span>(0)</span></p>
          <p>|</p>
          <p class="status">回收站<span>(0)</span></p>
        </div>
      </div>
    </div>
    <!-- 内容展示样式 -->
    <div class="row content-inner">
      <div class="col-md-12 inner">
        <table class="table table-hover table-inner table-01">
          <tr>
            <th>标题</th>
            <th>分类目录</th>
            <th>标签</th>
            <th>评论</th>
            <th>访问量</th>
            <th>日期</th>
            <th>操作</th>
          </tr>
          <tr>
            <td>hello</td>
            <td>未分类</td>
            <td>无标签</td>
            <td>14</td>
            <td>14</td>
            <td>2019-07-12 14:33</td>
            <td>
              <button type="button" class="btn btn-danger btn-xs">丢弃</button>
            </td>
          </tr>
        </table>
        <table class="table table-hover table-inner table-fade table-02">
            <tr>
              <th>标题</th>
              <th>分类目录</th>
              <th>标签</th>
              <th>评论</th>
              <th>访问量</th>
              <th>日期</th>
              <th>操作</th>
            </tr>
            <tr>
              <td>hello</td>
              <td>未分类</td>
              <td>无标签</td>
              <td>14</td>
              <td>14</td>
              <td>2019-07-12 14:33</td>
              <td>
                <button type="button" class="btn btn-danger btn-xs">丢弃</button>
              </td>
            </tr>
          </table>
          <table class="table table-hover table-inner table-fade table-03">
              <tr>
                <th>标题</th>
                <th>分类目录</th>
                <th>标签</th>
                <th>评论</th>
                <th>访问量</th>
                <th>日期</th>
                <th>操作</th>
              </tr>
              <tr>
                <td>hello</td>
                <td>未分类</td>
                <td>无标签</td>
                <td>14</td>
                <td>14</td>
                <td>2019-07-12 14:33</td>
                <td>
                  <button type="button" class="btn btn-info btn-xs">还原</button>
                  <button type="button" class="btn btn-danger btn-xs">永久丢弃</button>
                </td>
              </tr>
            </table>

      </div>
    </div>

  </div>



  <script src="../static/scripts/jquery.min.js"></script>
  <script src="../static/scripts/bootstrap.min.js"></script>
  <script src="../static/scripts/article1.js"></script>
  <script src="../static/scripts/article.js"></script>
</body>

</html>