<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>分类目录</title>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/iconfont.css">
  <link rel="stylesheet" href="../static/css/contentHeader.css">
  <link rel="stylesheet" href="../static/css/article3.css">
</head>

<body>
  <div class="container-fluid">
    <!-- 头部通用 -->
    <div class="row header">
      <div class="col-md-1 page-name PR-no">分类目标</div>
      <div class="col-md-1 page-show PRL-no">分类库</div>
      <div class="col-md-3 page-catalogue">
        <ul class="page-list">
          <li><a href="#"><span class="iconfont icon-arr-right"></span>文章管理</a></li>
          <li><a href="#"><span class="iconfont icon-arr-right"></span>分类目录</a></li>
        </ul>
        <div class="page-icon">
          <a href="./index.html" class="page-icon-a"><span class="iconfont icon-yibiao icon-span"></span>首页</a>
        </div>
      </div>
    </div>
    <!-- 主体内容 -->
    <div class="row content">
      <!-- 左侧内容 -->
      <div class="col-md-5">
        <div class="content-left">
          <h3>添加分类目录</h3>
          <div class="left-inner">
            <h4>标题:</h4>
            <input type="text" class="form-control paging-title" placeholder="标题名">
            <h5>*页面上所显示的名称</h5>
            <h4>路径名称:</h4>
            <input type="text" class="form-control paging-url" placeholder="路径名">
            <h5>*这是文章路径上显示的名称，最好为英文</h5>
            <h4>描述:</h4>
            <textarea class="form-control paging-describe" rows="3"></textarea>
            <h5>**添加描述，部分主题可显示</h5>
          </div>
          <p>
              <button type="button" class="btn btn-primary btn-paging">确认添加</button>
          </p>
        </div>
      </div>
      <!-- 右侧内容 -->
      <div class="col-md-7">
        <div class="content-right">
          <h3>所有分类目标</h3>
          <div class="right-inner">
            <table class="table table-hover table-inner">
              <tr>
                <th>名称</th>
                <th>路径</th>
                <th>描述</th>
                <th>文章数</th>
                <th>操作</th>
              </tr>
              <tr>
                  <td>1</td>
                  <td>no</td>
                  <td>测试用,无效</td>
                  <td>1</td>
                  <td>
                      <!-- <button type="button" class="btn btn-primary btn-xs">修改</button> -->
                      <button type="button" class="btn btn-danger btn-xs">永久删除</button>
                  </td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>




  
  <script src="../static/scripts/jquery.min.js"></script>
  <script src="../static/scripts/bootstrap.min.js"></script>
  <script src="../static/scripts/article3.js"></script>
</body>

</html>