<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>PC</title>
<link rel="stylesheet" href="../static/css/reset.css">
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
  <ul class="list"></ul>


  <script src="../static/scripts/jquery.min.js"></script>
  <script src="../static/scripts/bootstrap.min.js"></script>
  <script src="../static/scripts/home.js"></script>
  <script src="../static/scripts/api.js"></script>
  <script src="../static/scripts/main.js"></script>
</body>
</html>