<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>页面</title>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/page1.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 title">
        <h2>测试页面</h2>
        <a href="index.html">回到主页面</a>
      </div>
    </div>
    <div class="row content">
      <div class="col-md-8 col-md-offset-2 inner">
        <ul class="list">
          <li>
            <h3>nihao</h3>
            <div class="spans clearfix"><span>分类</span><span>标签</span><span>评论</span><span>访问</span><span>日期</span></div>
            <p>据国际奥委会消息，国际奥委会执委会日前批准组建“夏季奥运会举办地委员会”和“冬季奥运会举办地委员会”，新成立的委员会拥有推荐奥运会、冬奥会和青奥会候选举办地的权力，来自中国的国际奥委会委员李玲蔚和张虹入选。</p>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <script src="../static/scripts/jquery.min.js"></script>
  <script src="../static/scripts/bootstrap.min.js"></script>
  <script src="../static/scripts/page1.js"></script>
</body>
</html>